<template lang="pug">
	div.new-vessel-form
</template>
<script>
	import '../../compiled-icons'
	export default {
	  name: 'new-vessel',
	}
</script>
<style lang="sass">
	@import ../../assets/sass/global.sass
	@import ../../assets/sass/partials/buttons.sass
</style>