<template lang="pug">
section#content
	.content
		.inner
			h2 ICS Class Vessels
			.buttons.to-right
				router-link(to="/vessels/new-vessel" class="add-button") 
					svgicon(icon="add" width="16" height="16")
					| Add Vessel
		
</template>
<script>
import '../../compiled-icons'
export default {
  name: 'vessels',
}
</script>
<style lang="sass">
	@import ../../assets/sass/global.sass
	@import ../../assets/sass/partials/buttons.sass
</style>