<template lang="pug">
.content
	.inner
		h2 Sorry...
		p.centered This Page does not exist.
		p.error.centered 404 Error
</template>
<script>
export default {
  name: 'not-found',
}
</script>
<style lang="sass">
	@import ../../assets/sass/global.sass
</style>