<template lang="pug">
	.footer
		.copy-right
			p This software is intended for use exclusively for InterMaritime Certification Services staff as administrators may see fit. It is the intelectual property of InterMaritime Certification Services All rights reserved © 2006 - 2017. 
</template>
<script>
	export default {
		name: 'system-footer'
	}
</script>
<style lang="sass" scoped>
	@import ../../assets/sass/global.sass
	.footer
		width: 100%
		background: $primary-color
		padding: 30px 0
	.copy-right
		width: 900px
		margin: 0 auto
		color: $white
	p
		font-size: 0.9rem
		text-align: center
		line-height: 1.5
</style>