<template lang="pug">
	header
		.logout
			router-link(to="/")
				svgicon(icon="icsclass-logout" width="18" height="18")
				| Logout
		.navigation
			router-link(to="/vessels")
				svgicon(icon="vessels" width="18" height="18")
				| Vessels
			router-link(to="/certificates") 
				svgicon(icon="certificates" width="18" height="18")
				| Certificates
			router-link(to="/authorizations")
				svgicon(icon="reports" width="18" height="18")
				| Authorizations
			router-link(to="/offices")
				svgicon(icon="office" width="18" height="18")
				| Offices
			router-link(to="/surveyors")
				svgicon(icon="surveyor" width="18" height="18")
				| Surveyors
			router-link(to="/flags")
				svgicon(icon="flag" width="18" height="18")
				| Flags
</template>

<script>
	import '../../compiled-icons'
	export default {
		name: 'system-navigation'
	}
</script>

<style lang="sass" scoped>
@import ../../assets/sass/global.sass
.svg-icon
	width: auto
	display: block
	margin: 0 auto 8px
	fill: $primary-color

header
	@extend %flexbox-box
	justify-content: space-between
	background: $white

	a
		display: block
		padding: 12px 40px
		color: $primary-color

		&:hover
			background: darken($primary-color, 5%)
			color: $white
			
			.svg-icon
				fill: $white
.logout
	@extend %flexbox-box
	a
		background: $secondary-color
		color: $white

		.svg-icon
			fill: $white

		&:hover
			background: saturate($secondary-color, 10%)

.navigation
	@extend %flexbox-box
	a

		&.router-link-active
			background: $primary-color
			color: $white

			.svg-icon
				fill: $white
		
</style>