<template lang="pug">
.content
	.inner
		h2 ICS Class Certificates
</template>
<script>
export default {
  name: 'certificates',
}
</script>
<style lang="sass">
	@import ../../assets/sass/global.sass
</style>