<template lang="pug">
	.login-form
		.logo
			img(src="../../assets/icsclass-logo-2015.png" alt="ICS Class Logo")
		form(action="/vessels")
			label
				p.label Username
				input(type="text")
			label
				p.label Password
				input(type="password")
			label
				input(type="checkbox" checked value="forever")
				| Remember Me
			input(type="submit" value="Login")
</template>

<script>
export default {
  name: 'login-form',
}
</script>

<style lang="sass" scoped>
@import ../../assets/sass/global.sass

.login-form
	box-sizing: border-box
	width: 380px
	margin: 10% auto
	box-shadow: 0 0 8px lighten($light-gray, 10%)
	padding: 12px 24px 60px
	border-top: 32px solid $primary-color
	position: relative
	
.logo
	margin: 0 auto
	width: 142px

	img
		margin-top: -80%

form
	width: 95%
	margin: 0 auto 10px

	label
		display: block
		margin-bottom: 22px

		input
			border: none
			box-sizing: border-box
			font-size: 16px
			width: 100%
			padding: 12px 8px
			background: $light-gray

		input[type="checkbox"]
			width: 20px
			margin: 0

	input[type="submit"]
		position: absolute
		bottom: 0
		left: 0
		cursor: pointer
		font-size: 18px
		padding: 16px
		appearance: none
		border: 2px solid $primary-color
		width: 100%
		text-align: right
		background: $primary-color
		color: white

	p.label
		margin: 4px
</style>
