<template lang="pug">
	#app
		section(v-if="currentPage !== 'home'")
			system-navigation
		router-view
		system-footer
</template>

<script>
import SystemNavigation from './components/globalComponents/SystemNavigation'
import SystemFooter from './components/globalComponents/SystemFooter'
export default {
  name: 'app',
  components: { 
  	SystemNavigation,
  	SystemFooter
  },
  data(){
  	return {
  		currentPage: this.$route.name
  	}
  }
}
</script>

<style>
#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
}
</style>
