@import '../variables'
@import 'mixins'


.buttons
	@extend %flexbox-box
	margin-bottom: 30px

	&.to-right
		justify-content: flex-end
		margin-right: 0

	& > a:first-child:not(:only-child)
		margin-right: 20px


a.download-excel
	@include cool-button($terciary-color)

a.add-button
	@include cool-button($create-color)

a.back-button
	padding: 8px 0

a.clear-data
	@extend a.download-excel
	margin-right: 20px

a.print-button
	@include cool-button($primary-color)
	margin-right: 20px

a.mail-button
	@include cool-button($create-color)