@mixin cool-button($color)
  display: inline-block
  padding: 8px 20px 8px 40px
  background: $color
  color: $white
  position: relative
  border: none
  font-weight: 300

  &:hover
    background: saturate($color, 15%)

  svg
    height: 16px
    fill: $white
    width: auto
    position: absolute
    top: 8px
    left: 12px

  &.big-button
    padding: 12px 20px 12px 33px
    font-size: 1.4rem

    svg
      top: 14px