@import 'variables'

%flexbox-box
	display: flex
	flex-direction: row
	flex-wrap: nowrap

html
	font-size: 16px

h1, h2, h3, h4
	font-size: 1.5rem
	font-weight: 300

.centered
	text-align: center

.error
	color: saturate($secondary-color, 50%)

a
	font-size: 0.9rem
	color: $link-color
	text-decoration: none

	.add-button


.content
	background: lighten($light-gray, 5%)
	padding-top: 60px

	.inner
		background: $white
		width: 90%
		margin: auto
		padding: 30px 60px
		min-height: 70vh

		h2
			text-align: center